---
layout: default
---
<article class="page" itemscope itemtype="https://schema.org/BlogPosting">
  <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>
  <p class="page__meta">{% include icon.html name="clock" %} {% include read-time.html content=page.content %}</p>
  <p class="page__date">
    <strong>{% include icon.html name="calendar" %} Published:</strong>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </p>
  <div class="page__content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
